/* body{
    background-color: #ddd;
}
nav{
    background-color: (51,51,51);
}
.hero{
    width: 100%;
}

li: hover{ color: green;} */




#example{
    width: 100px;
    height: 100px;
    background-color: red;
  }